                    <thead>
                        <tr>
                            <th class="tablecell wide">Station</th>
                            <th class="tablecell wide">System</th>
                            <th class="tablecell">Disatance</th>
                            <th class="tablecell">Current Price</th>
                            <th class="tablecell">Demand</th>
                            <th class="tablecell smalltab">L. Pad</th>
                            <th class="tablecell date">Updated</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#Stations}}
                        <tr>
                            <th>{{name}}</th>
                            <td>{{system}}</td>
                            <td>{{Distance}} Ls.</td>
                            <td>{{Max}} Cr.</td>
                            <td>{{Demand}}</td>
                            <td>{{pad}}</td>
                            <td>{{Updated}}</td>
                        </tr>
                        {{/Stations}}
                    </tbody>